main h1 {
    font-size: 60px;
    color: white;
    font-family:"Open Sans Condensed", sans-serif;
    text-align: center;
    background-color: chocolate;
    padding: 20px;
    margin: 0%;
}
h2 {
    font-size: 40px;
    font-family:"Open Sans Condensed", sans-serif;
}
body {
    font-family: "Crimson Text", serif;
    background-color: #f2fffc
}
p {
    text-align: justify;
    margin: 20px 0px;
}
footer {
    font-size: 22px;
    color: white;
    background-color: black;
}
blockquote {
    background-color: darkgray;
    padding: 16px;
    border: 10px solid #c2c2c2;
    width: 250px;
    margin: 0%;
    box-sizing: border-box;
}