h1 {
    font-size: 60px;
    color: white;
    font-family:"Arial", sans-serif;
    text-align: center;
    background-color: chocolate;
}
h2 {
    font-size: 40px;
    font-family:"Open Sans", sans-serif;
}