main h1 {
    font-size: 60px;
    color: white;
    font-family:"Open Sans Condensed", sans-serif;
    text-align: center;
    background-color: chocolate;
    padding: 20px;
    margin: 0%;
}
h2 {
    font-size: 40px;
    font-family:"Open Sans Condensed", sans-serif;
}
body {
    font-family: "Crimson Text", serif;
    background-color: #f2fffc
}
p {
    text-align: justify;
    margin: 20px 0px;
}
footer {
    font-size: 22px;
    color: white;
    background-color: black;
}
blockquote {
    background-color: darkgray;
    padding: 16px;
    border: 10px solid #c2c2c2;
    width: 250px;
    margin: 0%;
    box-sizing: border-box;
}
strong {
    font-weight: 600px;
    
}
em {
    font-style: italic;
}
img {
    padding: 10px;
    margin: 0%;
}
aside {
    background-color: indigo;
    color: #f2fffc;
    text-align: center;
    padding: 20px;
    font-family: "Open San Condensed", sans-serif;
}
aside li {
    display: inline-block;
}
nav h1 {
    font-size: 30px;
    margin-bottom: 25px;
}
nav a {
    color: inherit;
    display: inline-block;
}
footer {
    background-color: #000;
    color: #f2fffc;
    padding: 20px;
}